node_modules/
/uploads/
*.jsonl
/config.conf
/config.yaml
/config.conf.bak
/docker/config
/docker/user
/docker/extensions
/docker/data
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
/backups/
public/movingUI/
public/QuickReplies/
content.log
cloudflared.exe
public/assets/
access.log
/vectors/
/cache/
public/css/user.css
public/error/
/plugins/
/default/scaffold
public/scripts/extensions/third-party
/certs
.aider*
.env
/StartDev.bat
yarn.lock
*.code-workspace
test-results/
